<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户管理</title>
<link rel="stylesheet" type="text/css" href="/js/jquery-easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="/js/jquery-easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="/css/index.css" />
<link rel="stylesheet" type="text/css" href="/css/sweetalert.min.css" />
<script type="text/javascript" src="/js/jquery-easyui/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/js/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/js/highmaps/code/highcharts.js"></script>
<script type="text/javascript" src="/js/highmaps/code/modules/map.js"></script>
<link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
<script type="text/javascript" src="/js/json2.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript" src="/js/comboboxInit.js"></script>
<script type="text/javascript" src="/js/edi-common.js"></script>
<script type="text/javascript" src="/js/edijs/asn.js"></script>
<script type="text/javascript" src="/js/sweetalert.min.js"></script>
</head>
<body>
	<div id="mainPanle" class="easyui-layout"  style="overflow: hidden;" fit="true">
		<div class="searchInfo" data-options="region:'north',border:false" style="height:140px">
			<div  title="查询条件" class="easyui-panel" border=true style="width: 100%; border: 0px;">
				<table align="left" class="searchTable">
					<tr>
						<td align="right" style="width: 150px;">供应商名称:</td>
						<td><select id="supplier_combobox" class="easyui-combobox" data-options="panelHeight:'auto'"
							style="width: 150px;" editable=true></select></td>

						<td align="right" style="width: 90px;">上传时间:</td>
						<td><input id="upload_start_datetimebox" class="easyui-datetimebox"  style="width:200px"></td>
						<td>~</td>
						<td><input id="upload_end_datetimebox" class="easyui-datetimebox"  style="width:200px"></td>
						
						<td align="center" style="width: 130px;" rowspan="2"><a
							href="javascript:void(0)" class="easyui-linkbutton"
							style="width: 70px;"
							onclick="orderDatagridReload()"
							iconcls="icon-search">查询</a></td>
					</tr>
					
				</table>
	<form id="asnFileForm" name="asnFileForm"  enctype="multipart/form-data" method="post">
					<table align="left" class="searchTable">
					<tr>
						<td align="center" style="width: 130px;" rowspan="2">
						</td>						
						<td align="center" style="width: 260px;" rowspan="5">
						<input class="easyui-filebox" style="width: 260px;" name="asnFiles" multiple="true">
						</td>
						<td align="center" style="width: 130px;" rowspan="2">
						<a href="javascript:void(0)" class="easyui-linkbutton"
							style="width: 150px;"
							onclick="uploadAsnFiles()"
							iconcls="icon-upload">上传</a>
						</td>
						<td align="center" style="width: 130px;" rowspan="2"><a
							href="javascript:void(0)" class="easyui-linkbutton"
							style="width: 150px;"
							onclick="downloadModel()"
							iconcls="icon-download">下载模板</a></td>
					</tr>
					
				</table>
	
	
        <div id="newUpload2"> 
           
        </div> 
        
    </form>
			</div>
		</div>
		<div  data-options="region:'center'" >
		<div id="order_datagrid" class="easyui-layout" style="margin: 0 auto;">
		</div>
		</div>
	</div>

	<div id="menu" class="easyui-menu" style="width:100px;display: none">   
      <div iconCls="icon-download" onclick="downloadOrders()">下载</div>   
      <div iconCls="icon-delete" onclick="deleteOrders()">删除</div>      
    </div>
    
    
    <div class="easyui-window" id="import-excel-template" title="文件上传" style="width:400px;height:160px;padding:2px;" closed="true">
    <form id="importFileForm" method="post" enctype="multipart/form-data" style="display:none">
        <table style="margin:5px;height:70px;">
            <tr>
                <td>请选择文件</td>
                <td width="5px;"></td>
                <td><input type="file" class="easyui-filebox" id="fileImport" name="fileImport" style="width:260px;"></td>
                <td></td></tr>
            <tr>
                <td colspan="4"><label id="fileName" /></td>
            </tr>
            <tr>
                <td colspan="4">
                    <label id="uploadInfo" />
                </td>
            </tr>
        </table><div style="text-align:center;clear:both;margin:5px;">
            <a id="uploadFile" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" data-bind="click:importFileClick" href="javascript:void(0)">上传</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" data-bind="click:closeImportClick" href="javascript:void(0)">关闭</a>
        </div>
    </form>
</div>
</body>
</html>